/*
 * @package WP Super Features
 * @author Adam Butterworth
 * @version 1.1.0
*/

.WPSF-features {display: block;width:100%;}
.WPSF-features img { margin-bottom: 10px; padding: 2px; border: 1px solid #ddd; background:#fff;  
	/* Box Shadow */
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.WPSF-features a img:hover { border-color:#aaa;
    opacity: 0.5;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out; }
.WPSF-features .last {margin-right:0;padding-right:0;clear:right;}
.WPSF-feature {margin-bottom: 2%;}

/* 1col */
.WPSF-columns-1 .WPSF-feature {float:left;width:100%;margin-right: 0;overflow:hidden;display:block;}
.WPSF-columns-1 img {margin:0 auto;display: block;text-align: center;}

/* 2col */
.WPSF-columns-2 .WPSF-feature {float:left;width:49%;margin-right: 2%;overflow:hidden;display:block;}
.WPSF-columns-2 img {margin:0 auto;display: block;text-align: center;}

/* 3col */
.WPSF-columns-3 .WPSF-feature {float:left;width:32%;margin-right: 2%;overflow: hidden;display: block;}
.WPSF-columns-3 img {margin:0 auto;display: block;text-align: center;}

/* 4col */
.WPSF-columns-4 .WPSF-feature {float:left;width:23.5%;margin-right: 2%;overflow:hidden;display:block;}
.WPSF-columns-4 img {margin:0 auto;display: block;text-align: center;}

/* 5col */
.WPSF-columns-5 .WPSF-feature {float:left;width:18.4%;margin-right: 2%;overflow:hidden;display:block;}
.WPSF-columns-5 img {margin:0 auto;display: block;text-align: center;}

/* 6col */
.WPSF-columns-6 .WPSF-feature {float:left;width:15%;margin-right: 2%;overflow:hidden;display:block;}
.WPSF-columns-6 img {margin:0 auto;display: block;text-align: center;}

/* HACKS */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* CSS rule for IE6 */
* html .clearfix {height:1%;}
/* CSS rule for IE7 */
*:first-child+html .clearfix {min-height: 1px;}

